<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="fish,渔，鱼，个人博客" />
<meta name="keywords" content="鱼，个人博客" />
<meta name="author" content="fish" />
<!-- Bootstrap Style -->
<link rel="stylesheet" href="${rc.contextPath}/media/css/bootstrap.css" media="all">
<link rel="stylesheet" href="${rc.contextPath}/media/css/component.css">

<!--common js-->
<script src="${rc.contextPath}/media/js/jquery.min.js"></script>
<script src="${rc.contextPath}/media/js/bootstrap.min.js"></script>

<!-- start-smoth-scrolling-->
<script src="${rc.contextPath}/media/js/move-top.js"></script>
<script src="${rc.contextPath}/media/js/easing.js"></script>
<script type="application/x-javascript">
    addEventListener("load", function() {
        setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); }
</script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>

<!--simditor -->
<link rel="stylesheet" href="${rc.contextPath}/media/css/simditor.css">
<script src="${rc.contextPath}/media/js/simditor/module.min.js"></script>
<script src="${rc.contextPath}/media/js/simditor/hotkeys.min.js"></script>
<script src="${rc.contextPath}/media/js/simditor/uploader.min.js"></script>
<script src="${rc.contextPath}/media/js/simditor/simditor.min.js"></script>

<script language="javaScript">
    var appServer = "${rc.contextPath}";
</script>

<!--//end-smoth-scrolling-->
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="${rc.contextPath}/media/js/respond.min.js"></script>
<![endif]-->