<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.biz.dao.blog.BlogCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.fish.biz.domain.blog.BlogCategory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="blog_id" property="blogId" jdbcType="BIGINT" />
    <result column="cate_id" property="cateId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, blog_id, cate_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from blog_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from blog_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fish.biz.domain.blog.BlogCategory" >
    insert into blog_category (id, blog_id, cate_id
      )
    values (#{id,jdbcType=BIGINT}, #{blogId,jdbcType=BIGINT}, #{cateId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fish.biz.domain.blog.BlogCategory" >
    insert into blog_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blogId != null" >
        blog_id,
      </if>
      <if test="cateId != null" >
        cate_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="blogId != null" >
        #{blogId,jdbcType=BIGINT},
      </if>
      <if test="cateId != null" >
        #{cateId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.biz.domain.blog.BlogCategory" >
    update blog_category
    <set >
      <if test="blogId != null" >
        blog_id = #{blogId,jdbcType=BIGINT},
      </if>
      <if test="cateId != null" >
        cate_id = #{cateId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.biz.domain.blog.BlogCategory" >
    update blog_category
    set blog_id = #{blogId,jdbcType=BIGINT},
      cate_id = #{cateId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>