#set($layout="layout/noHAF.vm")
<!-- Theme Style -->
<link rel="stylesheet" href="${rc.contextPath}/media/css/index.css" media="all">
<script src="${rc.contextPath}/media/js/modernizr.custom.js"></script>
<script src="${rc.contextPath}/media/js/modernizr.custom.53451.js"></script>
<!--web-font-->
<link href='http://fonts.useso.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

<div id="index" class="cbp-spmenu-push">
    <div class="banner">
        <div class="col-md-8 banner-left canvas-left">
            <!--<img src="${rc.contextPath}/media/images/banner.jpg" alt=""/>-->
            <div class="welcome-word">
                <h2>欢迎来到我的个人博客，你也可以加入喔！</h2>
            </div>
            <canvas id="canv" width="100%" height="720px"></canvas>
        </div>
        <div class="col-md-4 banner-right">
            <div class="top-nav">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
                    <h3>Menu</h3>
                    <a href="${rc.contextPath}/index.htm" class="active">Home</a>
                    <a href="${rc.contextPath}/blog.htm">Blog</a>
                    <a href="contact.html">Contact</a>
                </nav>
                <div class="main buttonset">
                    <button id="showRightPush"><img src="${rc.contextPath}/media/images/menu-icon.png" alt=""/></button>
                </div>
                <script src="${rc.contextPath}/media/js/classie.js"></script>
                <script>
                    var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
                            showRightPush = document.getElementById( 'showRightPush' ),
                            //body = document.body;
                            main = document.getElementById( 'index' );

                    showRightPush.onclick = function() {
                        classie.toggle( this, 'active' );
                        classie.toggle( main, 'cbp-spmenu-push-toleft' );
                        classie.toggle( menuRight, 'cbp-spmenu-open' );
                        disableOther( 'showRightPush' );
                    };

                    function disableOther( button ) {
                        if( button !== 'showRightPush' ) {
                            classie.toggle( showRightPush, 'disabled' );
                        }
                    }
                </script>
                <!-- /script-for-menu -->
            </div>
            <p style="margin-top: 100px;">Twenty years from now you will be more disappointed by the things that you didn’t do than
                by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the
                trade winds in your sails. Explore. Dream. Discover.</p>
            <p class="bnr-top">20年后，让你感到失望的不会是你做过的事，而会是你没做过的事，所以，请解开绳索，
                驶离安全的港湾，扔帆起航吧。去探索，去梦想，去发现!</p>
            <p style="text-align: right">----Mark Twain</p>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >手机网站模板</a></div>
    <div class="design">
        <div class="col-md-5 design-left">
            <h3>关于<span>我</span></h3>
        </div>
        <div class="col-md-7 design-right">
            <h3>好不容易来一趟，写点啥呗。。。</h3>
            <form>
                <input type="text" value="留下您的大名..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '留下您的大名...';}">
                <textarea type="text"  onfocus="this.value = '';" onBlur="if (this.value == '') {this.value = '欢迎给我留言 ...';}" required="">欢迎给我留言 ...</textarea>
                <input type="submit" value="留言" >
            </form>
            <!--
            <p>Stay Connnected With Me...</p>
            <div class="social-icons">
                <ul>
                    <li><a href="#"> </a></li>
                    <li><a href="#" class="drbl"> </a></li>
                    <li><a href="#" class="twit"> </a></li>
                </ul>
            </div>
            -->
        </div>
        <div class="clearfix"> </div>
    </div>

    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!--//smooth-scrolling-of-move-up-->
</div>

<script language="javascript">
    $(function(){
        var random = Math.ceil(Math.random()*100);
        var index = (random % 3) + 1;
        //s1.src="${rc.contextPath}/media/js/canvas/a" + random + ".js";
        $.getScript("${rc.contextPath}/media/js/canvas/a" + index + ".js");
    })
</script>