<?xml version="1.0" encoding="UTF-8"?>
<beans	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
							http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.2.xsd
							http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!--一般都会配置扫描包路径选项<context:component-scan base-package=”XX.XX”/>该配置项其实也包含了自动注入上述processor的功能，
	因此当使用 <context:component-scan/> 后，就可以将 <context:annotation-config/> 移除了。 -->
	<!-- <context:annotation-config />  -->
	
	<!-- 如果多个文件需要引用配置文件，需要加上  ignore-unresolvable="true"  -->
	<context:property-placeholder location="classpath:config.properties" />
	
	<!-- upload -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为10MB -->
        <property name="maxUploadSize">
            <value>10485760000</value>
        </property>
        <property name="maxInMemorySize">
            <value>1024000000</value>
        </property>
    </bean>
	
	<!-- 如果在包扫描层用到，必须写在包扫描前面才有用 -->
	<bean id="ApplicationContextHolder" class="com.fish.utils.ApplicationContextHolder"  scope="singleton"></bean>
	
	<context:component-scan base-package="com.fish.biz.service"></context:component-scan>

	<import resource="spring-mybatis.xml"/>
	<import resource="spring-redis.xml"/>
</beans> 