@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header,  menu, nav, section {
	display: block;
}

/* =Global
----------------------------------------------- */

body, input, textarea {
	color: #373737;
	font-weight: 300;
	line-height: 1.625;
}
body {
	background: #f7f7f7;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
	font-weight: 300;
    text-align: center;
    line-height: 1.5;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}

/* Text elements */
p {
	margin-bottom: 1.625em;
}
ul, ol {
	margin: 0 0 1.625em 2.5em;
}
ul {
	list-style: square;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 1.625em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.625em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd, samp, var {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}

/* Forms */
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
textarea {
	background: #fafafa;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	color: #888;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
textarea:focus {
	color: #373737;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number] {
	padding: 3px;
}

/* Links */
a {
	color: #1982d1;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}


/*----------head style-------------*/

.main-header {
    background: #fff;
    width: 250px;
    box-shadow: 1px 0 0 rgba(0,0,0,0.06);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    z-index: 9997;
}

@media only screen and (max-height: 31.11111rem) {
	.main-header__mugshot {
		display: none;
	}
}
.main-header__mugshot {
    padding: 60px;
}

.main-header__mugshot img {
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    height: 128px;
    width: 128px;
}

.main-navigation ul{
	margin:0;padding:0;
	list-style:none
}

.main-navigation li{
	border-top:1px solid #f0f0f0
}

.main-navigation li:first-child{
	border-top:none
}

.main-navigation a{
	display:block;
	padding:0.5rem 1.33333rem;
	text-decoration:none;
	font-weight:inherit;

	font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color: #045999;
    text-shadow: 1px 1px 1px #0A132F;
}

.main-navigation a:hover{
	background:#f7f7f7
}

.main-navigation li.current a{
	border-right:4px solid #4A90E2
}

.main-footer{
	font-family: 'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
	font-size:14px;
	font-size:0.77778rem;
	padding:1.33333rem;
	border-top:1px solid #f0f0f0
}

@media only screen and (min-height: 33.33333rem){
	.main-footer{position:absolute;bottom:0;left:0;right:0}
}

#search {
	margin: 60px 0 0 30px;
}

#search input[type="text"] {
	background: url(../images/search.png) no-repeat 4px 4px #444;
	border: 0 none;
	font: bold 12px Arial,Helvetica,Sans-serif;
	color: #d7d7d7;
	width: 150px;
	padding: 12px 5px 12px 45px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}
#search input[type="text"]:focus {
	background: url(../images/search.png) no-repeat 4px 4px #444;
	color: #d7d7d7;
	width: 200px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/*-----------foot style---------------*/


/*-----------main style---------------------*/
.body {
	padding-left: 0px;
    padding-left: 250px;
}

#header-img {

    width: 100%;
}

.header-img {
    min-height: 250px;
}
.header-img {
    background: no-repeat center center;
    background-size: cover;
    color: #fff;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.15),0 4px 8px rgba(0,0,0,0.15),0 2px 4px rgba(0,0,0,0.25);
}

.header-img .wrap{
	position:absolute;bottom:0;left:0;right:0;padding:2.66667rem
}

.kilo{
	font-size:48px;
	font-size:2.66667rem;
	line-height:1.08333
}

.container {
	font-family: 'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
    margin: 2.66667rem auto;
    width: 80%;
}

.hentry {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	padding: 0 0 1.625em;
	position: relative;
}

.entry-title, .entry-title a {
	color: #222;
	text-decoration: none;
}
.entry-title {
	clear: both;
	text-align: left;
	color: #222;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5em;
	padding-bottom: 10px;
	padding-top: 10px;
}

.entry-author{
	margin-left:5px;
}

.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
	color: #1982d1;
}

.entry-content{
	padding: 1.625em 0;
}

.entry-meta {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
}

.entry-meta a {
	font-weight: bold;
}
a {
	color: #1982d1;
	text-decoration: none;
}


.entry-header .comments-link a {
	background: #1982d1 url(../images/comment-bubble.png) no-repeat;
	color: #333;
	font-size: 13px;
	font-weight: normal;
	line-height: 35px;
	overflow: hidden;
	padding: 0 0 0;
	position: absolute;
	top: 1.5em;
	right: 0;
	text-align: center;
	text-decoration: none;
	width: 43px;
	height: 36px;
}

.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active {
	background-color: #1982d1;
	color: #fff;
	color: rgba(255,255,255,0.8);
}

/*--------------------------blog details--------------------------------*/

.blog__article {
    margin-bottom: 250px;
}

.push--bottom {
    margin-bottom: 24px !important;
}
.text--center {
    text-align: center !important;
}

.underline {
    position: relative;
    padding-bottom: 0.66667rem;
    margin-bottom: 1.33333rem;
}
.push-half--bottom {
    margin-bottom: 12px !important;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.underline::after {
    content: '';
    width: 7.11111rem;
    height: 1px;
    bottom: 0;
    left: 50%;
    margin-left: -3.55556rem;
    background: #888;
    position: absolute;
    display: block;
}

.flush {
    margin: 0 !important;
}

h2 {
    font-size: 30px;
    font-size: 1.66667rem;
    line-height: 1.73333;
}

.underline a {
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}


#load-data{ display:block;}
.loader{
	display: none;
	width: 120px;
	margin: 0 auto;
}
.no-data{
	display: none;
	text-align: center;
}

.no-data span{
	font-size: 14px;
	font-family: 'Great Vibes', cursive;
	color: #0f88eb;
}

.loader span {
	vertical-align: middle;
	border-radius: 100%;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 4px;
	-webkit-animation: loader 0.8s linear infinite alternate;
	animation: loader 0.8s linear infinite alternate;
}
.loader span:nth-child(1) {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
	background: rgba(245, 103, 115,0.6);
}
.loader span:nth-child(2) {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
	background: rgba(245, 103, 115,0.8);
}
.loader span:nth-child(3) {
	-webkit-animation-delay: -0.26666s;
	animation-delay: -0.26666s;
	background: rgba(245, 103, 115,1);
}
.loader span:nth-child(4) {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
	background: rgba(245, 103, 115,0.8);
}
.loader span:nth-child(5) {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
	background: rgba(245, 103, 115,0.4);
}
@keyframes loader {
	from {
		transform: scale(0, 0);
	}
	to {
		transform: scale(1, 1);
	}
}
@-webkit-keyframes loader {
	from {
		-webkit-transform: scale(0, 0);
	}
	to {
		-webkit-transform: scale(1, 1);
	}
}

.comment-title{
	margin-top: 40px;
	padding-left: 10px;
	border-bottom: 2px solid #ccc;
}

.comment-title h2{
	font-size: 24px;
	display: inline;
}

.widget-answers__item{
	padding:20px 0 10px 0;
	border-bottom:1px solid #ddd
}
.widget-answers__item .post-offset{
	-webkit-transition:all 1s ease;
	transition:all 1s ease
}
.widget-answers__item .post-offset .answer.fmt{
	margin-bottom:15px
}
.widget-answers__item .highlight{
	background:#fff9eb
}
.widget-answers__item .unlike-alert{
	width:380px
}
.widget-answers__item .answer__info--row a{
	font-size:14px
}
.widget-answers__item .answer__info--row span{
	font-size:13px
}
.widget-answers__item .answer__info--author{
	padding-left:0;line-height:32px
}
.widget-answers__item .answer__info--author-avatar{
	padding-right:0;text-align:right;line-height:32px
}
.widget-answers__item .answer__info--author-warp{
	display:inline-block;
	line-height:1;
	vertical-align:middle;
	text-align:left
}
.widget-answers__item .answer__info--author-name{
	max-width:8em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display:block;
	margin-bottom:2px;
	line-height:16px
}
.widget-answers__item .answer__info--author-rank{
	color:#999
}
.widget-invite{
	background-color:#f6f6f6;
	border:1px dashed #ccc;
	padding:15px;
	overflow:hidden;
	margin-left:65px
}

.post-col {
	width: 40px;
	position: absolute;
}
.widget-vote{
	position:relative;
	width:40px;
	height:54px;
	line-height:54px;
	font-size:18px;
	background:#f3f3f3;
	color:#666;
	text-align:center;
	border-radius:2px;
	box-shadow:0 1px 1px rgba(0,0,0,.3);
	-webkit-transition-duration:.2s;
	transition-duration:.2s
}
.widget-vote:hover{
	background-color:#fff7e2
}
.widget-vote button{
	position:absolute;
	left:0;
	padding:0;
	border:none;
	outline:none;
	width:100%;
	background:transparent url(../images/vote-bg.svg) 0 0 no-repeat;
	background-size:auto 60px
}
.widget-vote .like{
	top:0;height:36px
}
.widget-vote .like:hover{
	background-position:-40px 0
}
.widget-vote .like.active{
	background-position:-80px 0
}
.widget-vote .hate{
	bottom:0;
	height:18px;
	background-position:0 bottom
}
.widget-vote .hate:hover{
	background-position:-40px bottom
}
.widget-vote .hate.active{
	background-position:-80px bottom
}
.post-offset{
	margin-left:65px
}
.post-opt{
	font-size:14px;
	line-height:32px
}
.post-opt a{
	color:#999
}

#smeditor{
	margin: 20px;
}
#answerSubmit{
	padding: 0 20px;
}
#answerSubmit button{

}
/*--------------------to top menu--------------------------*/
/*--slider-up-arrow--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 10px;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 10px 10px;
}
#toTopHover {
	width: 50px;
	height: 50px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

#write-But {
	display: block;
	text-decoration: none;
	position: fixed;
	bottom: 80px;
	right: 10px;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border: none;
	text-indent: 100%;
	border-radius: 50px;
	background-color: #49be38;
}
#write-i {
	margin: 5px 0 0 5px;
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	border-radius: 40px;
	background: url("../images/icons.png") no-repeat -104px -20px;
	z-index: 999;
}


