<script>
    $(function(){
        var random = Math.ceil(Math.random()*7);
        var path = "url(${rc.contextPath}/media/images/head-img-"+random+".jpg)";
        $("#header-img").css("background-image", path);
    })
</script>

<section id="header-img" class="header-img">
    <div class="wrap">
        <h1 class="kilo flus">
            Blog
        </h1>
    </div>
</section>

<section id="container" class="container">

    <div id="blog-list">

    </div>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <div id="load-data">
        <div class="loader"><span></span><span></span><span></span><span></span></div>
        <p class="no-data"><span>数据已全部加载完咯。。。</span></p>
    </div>

</section>

<script src="${rc.contextPath}/media/js/scroll.load.js"></script>