<div id="preview-container">
    <div id="preview">
        <div class="container">
            <div class="write-container">
                <form id="blog" method="post" role="form" class="form-horizontal">
                    <input name="userId" type="hidden" value="">
                    <div class="form-group">
                        <label for="title" class="col-sm-1 control-label">标题</label>
                        <div class="col-sm-11">
                            <input id="title" name="title" autocomplete="off" class="form-control input-lg" placeholder="您的博客标题" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cateCode" class="col-sm-1 control-label no-padding-left">分类</label>
                        <div class="col-sm-11">
                            <select id="cateCode" name="cateCode" class="form-control">
                                <option value="">请选择分类</option>
                                <option value="">initMe</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="label" class="col-sm-1 control-label">标签</label>
                        <div class="col-sm-11">
                            <input id="label" name="label" autocomplete="off" class="form-control" placeholder="博客标签可以有多个哟" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-1 control-label no-padding-left">内容</label>
                        <div class="col-sm-11">
                            <div id="write-smeditor">
                                <textarea id="content" placeholder="博客内容。。。"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pic" class="col-sm-1 control-label">图片</label>
                        <div class="col-sm-11">
                            <input id="pic" name="pic" type="file" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-1 control-label no-padding-left">简介</label>
                        <div class="col-sm-11">
                            <div id="brief-smeditor">
                                <textarea id="brief" placeholder="博客简介。。。"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a href="#" id="toTop" data-toggle="tooltip" data-placement="left" title="返回顶部" style="display: block;bottom: 50px;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <div class="publish-footer">
                <div class="pull-right">
                    <button type="button" data-type="article" id="publishIt" class="btn btn-primary ml10" data-id="" data-do="post" data-url="" data-text="发布文章" data-name="">
                        发布文章
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   $(function(){
       var previewEl = $('#preview');
       var images = [];
       for (var i=1;i<6;i++){
           var path = appServer + "/media/images/back_blur/" + i + ".jpg" ;
           images.push(path);
       }

       var count = 1;

       //每隔3秒切换背景图片
       window.setInterval(changeBackImage,4000);

       var first = appServer + "/media/images/back_blur/1.jpg";

       previewEl.backgroundBlur({
           imageURL : first,
           blurAmount : 2,
           imageClass : 'bg-blur',
           overlayClass : 'bg-blur-overlay',
           duration: 1000,
           endOpacity : 1
       });

       function changeBackImage(){
           var img = images[(count%5)];
           previewEl.backgroundBlur(img);
           count++;
       }

       $('[data-toggle="tooltip"]').ggtooltip();
   })

   var editor = new Simditor({
       textarea: $('#content'),
       toolbarFloat : false
       //optional options
   });

   var brief = new Simditor({
       textarea: $('#brief'),
       toolbarFloat : false
       //optional options
   });

</script>